@import "../../mixins";

.candidates{
    .heading{
        @include d-flex(row, space-between, center);
        width:100%;
    }
}

.add-candidate{
    width: 500px;
    max-width: 100%;
    @include d-flex(column, flex-start, center);
    gap:1rem;

    *{
        color:var(--text-color1);
    }
    .css-1xp5r68-MuiFormControl-root-MuiTextField-root{
        *{
            background-color:   var(--bg-color);
            color:var(--text-color1);
        }
    }
}