.companies-grid{
    color: var(--text-color1);
    *{
        color: var(--text-color1);
    }
    .MuiDataGrid-container--top{
        *{
            background-color:   var(--bg-color);
        }
    }
}